    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <div class="row">
                <div class="col-md-2">
                    <div class="row justify-content-center justify-content-md-start"> <img src="../../../../assets/icon.png" width="50px" height="50px"> </div>
                </div>
                <div class="col-md-7 d-flex justify-content-center mb-3">
                    <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a href="#" class="text-white">About</a> </div>
                    <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a href="#" class="text-white">Report</a> </div>
                    <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a href="#" class="text-white">Support</a> </div>
                    <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a href="#" class="text-white">Work</a> </div>
                    <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a href="#" class="text-white">Contact</a> </div>
                </div>
                <div class="col-md-3 justify-content-center d-flex">
                <a class="btn btn-outline-light btn-floating m-1 btn-lg btns-circle" href="https://www.facebook.com/groups/GamingITESO" role="button"
                    ><i class="fab fa-facebook-f"></i>
                </a>                 
                <a class="btn btn-outline-light btn-floating m-1 btn-lg btns-circle" href="#!" role="button"
                    ><i class="fab fa-youtube "></i>
                </a>                 
                <a class="btn btn-outline-light btn-floating m-1 btn-lg btns-circle" href="https://discord.gg/Z37ydDqw" role="button"
                    ><i class="fab fa-discord "></i>
                </a> 
                <a class="btn btn-outline-light btn-floating m-1 btn-lg btns-circle" href="#!" role="button"
                    ><i class="fab fa-twitch"></i>
                </a>
                 </div>
            </div>
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.5);">
            <b><i class="bi bi-controller"></i></b> 2021 ITESO Gaming •
          <a class="text-info" href="#!">ItesoGaming.gg</a>
        </div>
        <!-- Copyright -->
      </footer>